In [31]:
#import the modules we need
import pandas as pd
import numpy as np

#load the dataset as a dataframe
df = pd.read_csv('dataset.csv', encoding='utf-8')

summarydf = pd.DataFrame(columns=['Column', 'Data type', 'Size', 'Number of unique Values', 'Num of Null Values'])

#("Column: " + col + " | Data Type: " + str(df[col].dtype) + " | Number of entries:  " +str(df[col].size))

for loop_count, col in enumerate(df.columns):
    summarydf.loc[loop_count] = [col, df[col].dtype, df[col].size, df[col].nunique(), df[col].isnull().sum()]
    
summarydf

,Column,Data type,Size,Number of unique Values,Num of Null Values
0,Unnamed: 0,int64,114000,114000,0
1,track_id,object,114000,89741,0
2,artists,object,114000,31437,1
3,album_name,object,114000,46589,1
4,track_name,object,114000,73608,1
5,popularity,int64,114000,101,0
6,duration_ms,int64,114000,50697,0
7,explicit,bool,114000,2,0
8,danceability,float64,114000,1174,0
9,energy,float64,114000,2083,0
10,key,int64,114000,12,0
11,loudness,float64,114000,19480,0
12,mode,int64,114000,2,0
13,speechiness,float64,114000,1489,0
14,acousticness,float64,114000,5061,0
15,instrumentalness,float64,114000,5346,0
16,liveness,float64,114000,1722,0
17,valence,float64,114000,1790,0
18,tempo,float64,114000,45653,0
19,time_signature,int64,114000,5,0
20,track_genre,object,114000,114,0

In [20]:
#load the dataset as a dataframe
df = pd.read_csv('dataset.csv', encoding='utf-8')

for col in df.columns[1:]:
    datatype = df[col].dtype
    if(datatype == np.int64 or datatype == np.float64):
        if (datatype ==np.int64 ):
            print(repr(col) + "  Mean: "+ repr(int(df[col].mean())))
        elif (datatype ==np.float64 ):
            print(repr(col) + "  Mean: "+ repr(float(df[col].mean())))

'popularity'  Mean: 33
'duration_ms'  Mean: 228029
'danceability'  Mean: 0.5668000657894738
'energy'  Mean: 0.6413827583964912
'key'  Mean: 5
'loudness'  Mean: -8.258960368421052
'mode'  Mean: 0
'speechiness'  Mean: 0.08465211228070177
'acousticness'  Mean: 0.3149100624799999
'instrumentalness'  Mean: 0.15604958922122808
'liveness'  Mean: 0.21355283605263162
'valence'  Mean: 0.4740682309736842
'tempo'  Mean: 122.14783728947369
'time_signature'  Mean: 3